In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/codeheroku/Introduction-to-Machine-Learning/master/Collaborative%20Filtering/dataset/toy_dataset.csv'

In [3]:
df = pd.read_csv(url)

In [4]:
df

  Unnamed: 0  action1  action2  action3  romantic1  romantic2  romantic3
0     user 1      4.0      5.0      3.0        NaN        2.0        1.0
1     user 2      5.0      3.0      3.0        2.0        2.0        NaN
2     user 3      1.0      NaN      NaN        4.0        5.0        4.0
3     user 4      NaN      2.0      1.0        4.0        NaN        3.0
4     user 5      1.0      NaN      2.0        3.0        3.0        4.0

In [5]:
df.shape

(5, 7)

In [6]:
df.isnull().sum()

Unnamed: 0    0
action1       1
action2       2
action3       1
romantic1     1
romantic2     1
romantic3     1
dtype: int64